html {
  box-sizing: border-box;
  font-size: 25px;
}
body {
  margin: 0;
  background: linear-gradient(90deg, rgba(255,201,35,1) 5% , rgba(255,255,255,1) 100%);
  background-position: center;

  font-family: 'Acme', sans-serif;
  font-size: 1.1em;

}

/*SECOND GRID - BOTTOM----------
---------------------------
---------------------------
*/
.grid2 {
  margin: 50px auto 0;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  background: linear-gradient(rgba(255,255,255,.4) , rgba(255,255,255,.4)) ,
  url(../images/grid-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px groove white;
  border-radius: 5%;
}
.sidebar {
  grid-column: 1/2;
  grid-row: 2/4;
  text-align: center;
  background: linear-gradient(rgba(255,255,255,.4) , rgba(255,255,255,.4)) ,
  url(../images/grid-sidebar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px groove white;
  border-radius: 20%;
}
.main {
  grid-column: 2/4;
  grid-row: 2/4;
  text-align: center;
  background: linear-gradient(rgba(255,255,255,.4) , rgba(255,255,255,.4)) ,
  url(../images/grid-sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px groove white;
  border-radius: 30%;
}
.main p {
  margin-top: 0;
  margin-bottom: 50px;
}
.sidebar p {
  margin-bottom: 50px;
}
.foot {
  grid-column: 1/4;
  grid-row: 4;
  text-align: center;
  background: linear-gradient(rgba(255,255,255,.4) , rgba(255,255,255,.4)) ,
  url(../images/grid-foot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px groove white;
  border-radius: 5%;
}
.grid2 h2 {
  font-size: 1.5em;
}
.grid2 h4 {
  font-size: 1.5em;
}

/*ABOUT.HTML - Text Boxes x3----------
---------------------------
---------------------------
*/
.aboutcontainer {
  width: 90%;
  margin: 0 auto;
}
.abouttext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.abouttext div {
  background: rgba(255, 255, 255, .8) ;
  border: 5px groove white;
}
.about1 {
  min-width: 300px;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.about1 p {
  padding: 5px;
}
.about1 h3 {
  text-align: center;
  font-size: 1.7em;
}


/*GALLERY.HTML----------
---------------------------
---------------------------
*/
.btn {
  padding: 20px 0 20px 0;
  border: 3px solid white;
}
.btn-group {
}
.btnone {
  margin-bottom: 25px;
}
.btn-group a:hover {
  opacity: .9;
}
a .btn {
  color: white;
  font-size: .9em;
}

#myCarousel {
  background-image: url(../images/codescroll.gif);
  margin-bottom: px;
  max-height: 410px;
}
.item img {
  max-height: 410px;
}
.banner {
  font-size: 3em;
  text-align: center;
}
a .btn:hover{
  background: #947400;
}
/*FOOTER----------
---------------------------
---------------------------
*/
footer {
  width: 100%;
  background-color: #565557;
  margin: 25px 0 0 0;
}
footer p {
  padding: 25px 0 0 0;
  text-align: center;
  color: white;
}
footer img {
  width: 100px;
}
.navbar2 {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar2 ul {
  width: 100%;
}
.navbar2 li {
  list-style: none;
  display: inline-block;
  padding: 0 50px 40px 50px;
  color: white;
}

/*MEDIA QUERIES---------
---------------------------
---------------------------
*/

@media (max-width: 1000px) {

  body {
    width: 100%;
  }
  .navbar2 li {
    padding: 5px;
  }
  #myCarousel {
    max-height: 220px;
  }
  .item img {
    max-height: 220px;
  }
}
