html {
  box-sizing: border-box;
  font-size: 25px;
}
body {
  margin: 0;
  background: linear-gradient(90deg, rgba(255,201,35,1) 5% , rgba(255,255,255,1) 100%);
  background-position: center;

  font-family: 'Acme', sans-serif;
  font-size: 1.1em;

}

.register-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}
.register-form p {
  margin-top: 10px;
  font-size: .85em;
}
.register-form label {
  margin: auto;
  text-align: center;
}
#web {
  margin: auto;
}
.title {
  text-align: center;
  width: 100%;
  margin: 0 0 10px 0;
}
.form-fields {
  list-style: none;
  background:#ffc95c;
  padding: 10px;
  border: 3px groove white;
  flex: 1 0 300px;
}
.form-fields li {
  display: flex;
  flex-wrap: wrap;
}
.form-fields label {
  flex: 1 0 90px;
  max-width: 200px;
  font-size: .85rem;
}
input[type="text"] {
  box-sizing: border-box;
  background-color:#d7d9d8;
  overflow: hidden;
  padding: 5px;
  flex: 1 0 230px;
  flex-wrap: wrap;
  max-height: 30px;
  font-size: .6em;
}
.button-contact {
  text-align: center;
}
.contact {
  width: 200px;
}
.register-form li .contact {

}


/*GALLERY.HTML----------
---------------------------
---------------------------
*/
.btn {
  padding: 20px 0 20px 0;
  border: 3px solid white;
}
.btn-group {
}
.btnone {
  margin-bottom: 25px;
}
.btn-group a:hover {
  opacity: .9;
}
a .btn {
  color: white;
  font-size: .9em;
}

#myCarousel {
  background-image: url(../images/codescroll.gif);
  margin-bottom: px;
  max-height: 410px;
}
.item img {
  max-height: 410px;
}
.banner {
  font-size: 3em;
  text-align: center;
}
a .btn:hover{
  background: #947400;
}
/*FOOTER----------
---------------------------
---------------------------
*/
footer {
  width: 100%;
  background-color: #565557;
  margin: 25px 0 0 0;
}
footer p {
  padding: 25px 0 0 0;
  text-align: center;
  color: white;
}
footer img {
  width: 100px;
}
.navbar2 {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar2 ul {
  width: 100%;
}
.navbar2 li {
  list-style: none;
  display: inline-block;
  padding: 0 50px 40px 50px;
  color: white;
}

/*MEDIA QUERIES---------
---------------------------
---------------------------
*/

@media (max-width: 1000px) {

  body {
    width: 100%;
  }
  .navbar2 li {
    padding: 5px;
  }
  #myCarousel {
    max-height: 220px;
  }
  .item img {
    max-height: 220px;
  }
}
