/* FONTS:
font-family: 'Acme', sans-serif;
font-family: 'Play', sans-serif;
*/
/* COLORS:
Outer Space
#565557
White
#c0e6eb
Orange
#ebc33f
Blue Green
#5da4ae
Black
#282641
*/

/* GLOBAL:  */
html {
  box-sizing: border-box;
  font-size: 25px;
}
body {
  margin: 0;
  background: linear-gradient(rgba(255,255,255,.5) , rgba(255,255,255,.5)) ,
  url(../images/sunset.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 210px;
font-family: 'Acme', sans-serif;
}
/* NAV/HEADER: */
header {
  display: flex;
  background-color: #565557;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border: 3px groove white;
  border-radius: 2%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-family: 'Acme', sans-serif;
  z-index: 3;
}
header img {
  margin: 0 25px;
}
nav {
  background-color: #ebc33f;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}
.navbar {
  list-style: none;
}
ul.navbar {
  padding: 0;
}
.navbar li {
    display: inline-block;
    padding: 0 45px;
}
.navbar li a {
  text-decoration: none;
  color: white;
  padding: 5px 5px;
  border-radius: 50%;
  background-color: #565557;
  font-size: .6rem;
}
.navbar li a:hover {
  opacity: .5;
  padding: 7px;
  background-color: #282641;
  transition: all 1.5s ease;
}
/*GRID*/
main {
  display: flex;

  justify-content: center;
}
.gridcontainer {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 400px 400px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.gridcontainer img {
  max-width: 400px;
  border: 3px groove white;
}
.box {
 border-radius: 2%;
 max-width: 500px;
 max-height: 400px;
 margin: auto;
 text-align: center;
}
.box img {
  margin-top: 5px;
  border-radius: 5%;
}
.box p {
  margin: 0;
}
/* FOOTER:  */
footer {
  width: 100%;
  background-color: #565557;
  margin: 25px 0 0 0;
}
footer p {
  padding: 25px 0 0 0;
  text-align: center;
}
footer img {
  width: 100px;
}
.navbar2 {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar2 ul {
  width: 100%;
}
.navbar2 li {
  list-style: none;
  display: inline-block;
  padding: 0 50px 40px 50px;
}

/*HAMBURGER BASIC----------
---------------------------
---------------------------
*/


#menu {
  width: 35px;
  height: 35px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: black;
  display: block;
  border-radius: 5px;
  transition: 0.5s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2 {
  opacity: 0;
}
.nav li a {
  color: #ebc33f;
  text-decoration: none;
}
.nav li a:hover {
  font-weight: bolder;
  font-size: 1.1rem;
  transition: .5s ease;
}
.nav li {
  list-style: none;
  padding: 15px;
}
.menu-bg , #menu-bar {
  z-index: 1;
  position: absolute;
}
#menu-bar {
  z-index: 2;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.change {
  display: block;
}
.menu-bg {
  width: 0;
  height: 0;
  background: radial-gradient(circle,#a8a8a8,#363636);
  transition: 0.7s ease;
  z-index: 1;
  border-radius: 50%;
  margin: 30px 0 20px 20px;
}
.change-bg {
  width:500px;
  height: 400px;
  transform: translate(-50% , -10%);
  border: 5px double white;
}

/*Forms/FlexProj----------
---------------------------
---------------------------
*/

.register-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}
.title {
  text-align: center;
  width: 100%;
  margin: 0 0 10px 0;
}
.form-fields {
  list-style: none;
  background:#ffc95c;
  padding: 10px;
  border: 3px groove white;
  flex: 1 0 300px;
}
.form-fields li {
  display: flex;
  flex-wrap: wrap;
}
.form-fields label {
  flex: 1 0 90px;
  max-width: 200px;
  font-size: .85rem;
}
input[type="text"] {
  box-sizing: border-box;
  background-color:#d7d9d8;
  overflow: hidden;
  padding: 5px;
  flex: 1 0 230px;
  flex-wrap: wrap;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.boxes li {
  flex: 1 0 200px;
  font-size: .85rem;
}
.submit {
  width: 80%
  margin: 0 auto;
  text-align: center;
  flex: 0 0 100%;
}

.register-btn {
  background-color: #ffc95c;
  font-size: 1rem;
  border: 3px groove white;;
  border-radius: 5%;
}
.register-btn:hover {
  opacity: .7;
  background-color: white;
  cursor: pointer;
}


/*Media Querie----------
---------------------------
---------------------------
*/

@media (min-width: 1000px) {
  #menu-bar , .menu-bg, .change-bg {
    display: none;
  }

}

@media (max-width: 1000px) {
  html {
    max-width: 100%;
  }
  body {
    text-transform: uppercase;
    font-size: 1rem;
    /* margin-top: 170px; */
  }
  header {
    /* max-width: 100%; */
    display: none;
  }
  nav {
    background-color: white;
    border-radius: 15%;
    width: 70%;

  }
  ul.navbar {
    padding-left: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
  }
  .navbar li {
    display: inline-block;
    margin: 15px 0;
  }
  .navbar li a {
    font-size: 1.5rem;
  }
  header img {
    max-width: 50px;
    margin: 0;
  }
  main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    /* margin-left: 50px; */
    margin-top: -300px;
  }
  .gridcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    max-width: 350px;
  }
  .box {
    max-width: 300px;
    margin: 100px 0;
  }
  .box img {
    max-width: 300px;
  }
  .box p {
    font-size: 1rem;
    text-align: center;

  }
  footer {
    min-width: 100%;
    border-top: 2px groove white;
  }
  .navbar2 li {
    padding: 0px 0px 50px 0px;
    margin: 0 15px;
  }
  .change-bg {
    width:500px;
    height: 450px;
    transform: translate(-50% , -20%);
    transition: 0s ease;
  }

  .menu-bg , #menu-bar {
    top: 0;
    left: 0;
    position: fixed;
  }
}
