/* FONTS:
font-family: 'Acme', sans-serif;
font-family: 'Play', sans-serif;
*/
/* COLORS:
Outer Space
#565557
White
#c0e6eb
Orange
#ebc33f
Blue Green
#5da4ae
Black
#282641
*/

/* GLOBAL:  */
html {
  box-sizing: border-box;
  font-size: 2vw;
}
body {
  margin: 0;
  background: linear-gradient(rgba(255,255,255,.5) , rgba(255,255,255,.5)) ,
  url(../images/sunset.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 210px;
font-family: 'Acme', sans-serif;
}
/* NAV/HEADER: */
header {
  display: flex;
  background-color: #565557;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border: 3px groove white;
  border-radius: 2%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-family: 'Acme', sans-serif;
}
header img {
  margin: 0 25px;
}
nav {
  background-color: #ebc33f;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.navbar {
  list-style: none;
}
ul.navbar {
  padding: 0;
}
.navbar li {
    display: inline-block;
    padding: 0 45px;
}
.navbar li a {
  text-decoration: none;
  color: white;
  padding: 5px 5px;
  border-radius: 50%;
  background-color: #565557;
  font-size: .5rem;
}
.navbar li a:hover {
  opacity: .5;
  padding: 7px;
  background-color: #282641;
  transition: all 1.5s ease;
}
/*GRID*/
main {
  display: flex;

  justify-content: center;
}
.gridcontainer {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 400px 400px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.gridcontainer img {
  max-width: 400px;
  border: 3px groove white;
}
.box {
 border-radius: 2%;
 max-width: 500px;
 max-height: 400px;
 margin: auto;
 text-align: center;
}
.box img {
  margin-top: 5px;
  border-radius: 5%;
}
.box p {
  margin: 0;
}
/* FOOTER:  */
footer {
  width: 100%;
  background-color: #565557;
  margin: 25px 0 0 0;
}
footer p {
  padding: 25px 0 0 0;
  text-align: center;
}
footer img {
  width: 100px;
}
.navbar2 {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar2 ul {
  width: 100%;
}
.navbar2 li {
  list-style: none;
  display: inline-block;
  padding: 0 50px 40px 50px;
}



@media (max-width: 1000px) {
  html {
    max-width: 100%;
  }
  body {
    text-transform: uppercase;
    font-size: 3rem;
    /* margin-top: 170px; */
  }
  header {
    /* max-width: 100%; */
    display: none;
  }
  nav {
    background-color: white;
    border-radius: 15%;
    width: 70%;

  }
  ul.navbar {
    padding-left: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
  }
  .navbar li {
    display: inline-block;
    margin: 15px 0;
  }
  .navbar li a {
    font-size: 1.5rem;
  }
  header img {
    max-width: 50px;
    margin: 0;
  }
  main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    /* margin-left: 50px; */
    margin-top: -300px;
  }
  .gridcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    max-width: 350px;
  }
  .box {
    max-width: 300px;
    margin: 100px 0;
  }
  .box img {
    max-width: 300px;
  }
  .box p {
    font-size: 1.5rem;
    text-align: center;

  }
  footer {
    min-width: 100%;
    border-top: 2px groove white;
  }
  .navbar2 li {
    padding: 0 10px;
  }
}
