/* FONTS:
font-family: 'Acme', sans-serif;
font-family: 'Play', sans-serif;
*/
/* COLORS:

*/

/*----------------------------------------------------------------------------*/

/* GLOBAL:

*/

/*----------------------------------------------------------------------------*/

/* NAV/HEADER:

*/

/*----------------------------------------------------------------------------*/

/* FOOTER:

*/



p {
  font-family: 'Play', sans-serif;
  font-size: 50px;
  color: red;
}
